body {
    font-family:'Edu-SA-Beginner' 'Montserrat', sans-serif; ;
}
.title {
    font: 14px black;
    background-color: #94B49F;
    padding: 20px;
    border-radius: 5px;
    margin-top: 7px;

}

.carousel-inner .carousel-item {
    height: 70vh;
    object-fit: cover;
}

.featurette-heading{
    padding: 10px;
}
.lead{
    padding: 10px;
    
}
#empresa {
    text-align: justify;
    background-color: #D4F6CC;
    margin-top: -20px;
    padding: 10px;
}

#empresa img{
    padding: 0 0 10px 0;
    max-width: 100%;
}

.btn{
    margin-left: 10px;
    
}
.margin {
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}
#frota {
    text-align: justify;
    background-color: #363633;
    margin: 0;
    padding-left: 50px;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.grid {
    border: 110px black;
}

.lugares {
    text-align: center;
    padding-bottom: 30px;
      
}

.destinos {	
	padding: 50px 0;
    background-color: #E7F6F2;    
    text-align: center;
    margin: 0;
}

.destinos li {
	display: inline-block;
	text-align: center;
	width: 30%;		
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #000000;
	border-radius: 10px; 
    margin: 10px;
    
}

.destinos li:hover {
    border-color: rgb(255, 0, 43);
    background: rgb(197, 252, 252);
	transform: scale(1.1);
    box-shadow: 2px 2px 5px 2px black;
}

.minas{
    width:100%;
    height: 200px;
}

.faleconosco {
    background: linear-gradient(45deg, #FEFBF6, #396460, #CEE5D0,#94B49F);
    padding: 10px;
    
}

.formulario {
    max-width:520px;
    margin: 30px;    
}




    




